/* This stylesheet should be used to style only individual elements, for overarching style to apply to entire app use index.css */

.App {
	background-color: #070606;
	position: relative;
	min-height: 100%;
	min-width: 100%;
}

.draw {
	display: flex;
	height: 100vh;
}

.controls {
	background-color: #f5f5f5;
	width: 20%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
}

.drawing-canvas {
	display: block;
	margin: auto;
	border: 3px solid #f5f5f5;
}

.controls {
	background-color: #c53a3a;
	width: 20%;
	height: 100vh;
}

.dot {
	position: absolute;
	border-radius: 50%;
	margin: 0;
	padding: 0;
	user-select: none;
}

.home {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
}

.home h1 {
	margin: 0;
	font-size: 4rem;
	flex-shrink: 0;
}

.title {
	font-family: 'Rubik Puddles', cursive;
	color: #ffffff;
}

.navbar {
	display: flex;
	align-items: center;
}

.setup {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #070606;
	color: #fff;
	height: 100vh;
	padding: 2rem;
}

.canvas-options {
	display: flex;
	gap: 1rem;
}

.canvas-preview {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	width: 100%;
	height: 50%;
}

.preview {
	border: 3px solid #fff;
	box-shadow: 0 0 8px 4px rgba(255, 255, 255, 0.2);
	width: 180px !important;
	height: 120px !important;
}

.buttons {
	display: flex;
	gap: 1rem;
	margin-top: 2rem;
}

button {
	background-color: #a63838;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
}

button:hover {
	background-color: #ddd;
}

input[type='color'] {
	cursor: pointer;
}

nav {
	background-color: transparent;
	color: #fff;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding: 0 20px;
	flex-shrink: 0;
}

nav ul {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	font-family: 'Codystar', cursive;
}

nav li {
	margin: 0 1rem;
}

nav a {
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.2rem;
	padding: 0.5rem;
	border-radius: 5px;
	border: 3px dotted #f5f5f5;
	background-color: transparent;
}

nav a:hover {
	background: transparent;
	box-shadow: 0 0 4px 4px #f5f5f5;
}

@media (max-width: 768px) {
	.home {
		padding: 10px;
	}

	.home h1 {
		font-size: 2rem;
	}
}
